body {
    position: relative;
    background-color: lightskyblue;
    left: -65px;
    top: -45px;
}

h1 {
    position: relative;
    width: 300px;
    top: 5px;
    left: 85px;
    color: rgb(40, 250, 50);
    text-decoration: underline;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    text-shadow: 2px 2px 3px rgb(19, 46, 82);
}

table {
    position: relative;
    left: 80px;
    top: -20px;
    text-align: right;
    background-color: rgb(69, 182, 190);
    box-shadow: 2px 2px 5px rgb(30, 102, 131);
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    font-size: 20px;
    width: 160px;
    text-align: center;
    border: 2px solid black;
}

.totalEligible {
    background: rgb(10, 73, 35);
    background: linear-gradient(0deg, rgba(10, 73, 35, 1) 0%, rgba(48, 244, 66, 1) 100%);
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 2px black;
}

.totalIneligible {
    background: rgb(73, 10, 10);
    background: linear-gradient(0deg, rgba(73, 10, 10, 1) 0%, rgba(119, 20, 20, 1) 18%, rgba(244, 48, 48, 1) 100%);
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 2px black;
}

.totalTotes {
    background: rgb(10, 55, 73);
    background: linear-gradient(0deg, rgba(10, 55, 73, 1) 0%, rgba(48, 152, 244, 1) 100%);
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 2px black;
}

.sortTTB {
    position: absolute;
    top: 32px;
    left: 495px;
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-color: bisque;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(30, 102, 131);
}

.sortTTB:hover {
    background-color: rgb(214, 221, 228);
}

.sortTTB:active {
    outline: 2px solid rgb(0, 162, 255);
}

.VRID {
    position: absolute;
    width: 180px;
    top: 41px;
    left: 300px;
    box-shadow: 1px 1px 5px rgb(30, 102, 131);
    border-radius: 4px;
}

.VRIDLabel {
    position: absolute;
    color: white;
    top: 18px;
    left: 300px;
    font-size: 20px;
    text-shadow: 2px 2px 1px rgb(19, 46, 82);
}

.barcode-red {
    border-radius: 5px;
    outline: 4px solid rgb(255, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 6px 6px 8px rgb(30, 102, 131);
}

.barcode-green {
    border-radius: 5px;
    outline: 4px solid rgb(0, 255, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 6px 6px 8px rgb(30, 102, 131);
}

.barcode-total {
    border-radius: 5px;
    outline: 4px solid rgb(0, 47, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 6px 6px 8px rgb(30, 102, 131);
}

#barcodeContainer {
    position: relative;
    display: flex;
    left: 79px;
    top: -25px;
    height: 400px;
    gap: 10px;
    width: 520px;
    justify-content: center;
}

#greenToteList,
#redToteList,
#totalToteList {
    position: relative;
    width: 165px;
    height: 390px;
    background-color: aliceblue;
    overflow-x: hidden;
    text-shadow: 1px 1px 1px rgb(172, 172, 172);
    border-radius: 10px;
    box-shadow: 0px 4px 5px black;

}

#greenToteList::-webkit-scrollbar,
#redToteList::-webkit-scrollbar,
#totalToteList::-webkit-scrollbar {
    display: none;
}

#greenToteList>li,
#redToteList>li,
#totalToteList>li {
    position: relative;
    list-style: none;
    font-size: 19px;
    width: 167px;
    left: -40.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#greenToteList>li {
    background-color: rgb(205, 241, 204);
}

#greenToteList>li:nth-child(2n) {
    background-color: rgb(186, 221, 197);
}

#redToteList>li {
    background-color: rgb(241, 204, 204);
}

#redToteList>li:nth-child(2n) {
    background-color: rgb(221, 186, 186);
}

#totalToteList>li {
    background-color: rgb(204, 216, 241);
}

#totalToteList>li:nth-child(2n) {
    background-color: rgb(186, 194, 221);
}

#greenToteList>li:hover {
    background-color: rgb(0, 182, 0);
    color: white;
    text-shadow: 1px 1px 1px black;
}

#redToteList>li:hover {
    background-color: red;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#totalToteList>li:hover {
    background-color: rgb(37, 131, 255);
    color: white;
    text-shadow: 1px 1px 1px black;
}

#selectedTextBarcode {
    position: relative;
    z-index: 4;
    left: 240px;
    top: -28px;
    height: 110px;
    width: 210px;
}